.calendar-grid {
  display: grid;
  grid-template-columns: 40px repeat(5, 1fr);
  grid-template-rows: 30px;
  grid-template-areas: 
    ". Mon Tue Wed Thu Fri"
    "hour1. . . . ."
    "hour2 . . . . ."
    "hour3 . . . . ."
    "hour4 . . . . ."
    "hour5 . . . . ."
    "hour6 . . . . ."
    "hour7 . . . . ."
    "hour8 . . . . ."
    "hour9 . . . . ."
    "hour10 . . . . ."
    "hour11 . . . . ."
    "hour12 . . . . ."
    "hour13 . . . . ."
    "hour14 . . . . ."
    "hour15 . . . . ."
    "hour16 . . . . ."
    "hour17 . . . . ."
    "hour18 . . . . ."
    "hour19 . . . . ."
    "hour20 . . . . ."
    "hour21 . . . . ."
    "hour22 . . . . ."
    "hour23 . . . . ."
    "hour24 . . . . .";
}

.day-header {
  display: flex;
  justify-content: center; 
}